<div class="ui segment green main center">
  <img src="assets/images/logo-mysupermarket.png" class="ui small centered image">
  <div class="ui section divider"></div>
  <div class="ui center aligned container">
    <h1 class="ui header green">About Mysupermarket:</h1>
    <h3 class="ui header teal">What is mySupermarket?</h3>
    <p>
      mySupermarket is more than a price comparison site.
      <br>We are completely independent from the supermarkets,
      <br> helping shoppers save 30% on average on each grocery shop.
      <br>Our free to use site aims to help shoppers save money on their grocery shop.
      <br> We were established in 2006 to provide
      shoppers with a wealth of information to make pricing,
      <br> promotion and product information as transparent as possible
      for shoppers.
      <br> As a consumer champion we are proud to work for the customer to ensure they get the best value for their household,
      on each and every shop.
    </p>

  </div>
</div>