<div class="main">
  <div class="ui four top attached steps noprint">
    <div class="step cart">
      <i class="shopping cart icon"></i>
      <div class="content">
        <div class="title"> Shopping Cart</div>
      </div>
    </div>
    <div class="step shipping">
      <i class="shipping fast icon"></i>
      <div class="content">
        <div class="title">Shipping</div>
      </div>
    </div>
    <div class="step payment">
      <i class="credit card icon"></i>
      <div class="content">
        <div class="title">Payment</div>
      </div>
    </div>
    <div class="step finish">
      <i class="print icon"></i>
      <div class="content">
        <div class="title"> Booking confirm</div>
      </div>
    </div>
  </div>
  <div class="ui attached segment spacy light-green-bg">

    <router-outlet></router-outlet>
  </div>
</div>