<div class="ui modal">
    <h2 class="ui header green center">{{product.data.product_name}} -${{product.data.price | number: '1.2'}}</h2>
    <div class="image content">
        <div class="ui tiny image middle aligned content">
            <img src="{{product.data.image}}">
        </div>
        <div class="description">
            <h4 class="ui header grey">
                <i class="barcode icon"></i>
                Barcode number: {{product.data.product_id}}
            </h4>
        </div>
    </div>
    <div class="actions">
        <div class="ui left action input">
            <button class="ui blue labeled icon positive button" (click)=addToCart()>
                <i class="cart plus icon"></i>Add to cart
            </button>
            <input type="number" [(ngModel)]="quantity" min="1" style="width: 100px">
        </div>
        <div class="ui red deny left labeled icon button" (click)="onClose()">
            Cancel
            <i class="close icon"></i>
        </div>
    </div>
</div>