<router-outlet></router-outlet>
<div class="ui vertical footer segment noprint">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="column">
          <p></p>
          <div class="ui horizontal inverted small divided list">
              <div class="item">
                  <i class="truck icon"></i>&nbsp;&nbsp;
                  {{ordersCount}} Orders made on our site.
                </div>
            <div class="item">
              <i class="shopping cart icon"></i>&nbsp;&nbsp;
              {{productsCount}}  Quantity of products in the shopping cart
            </div>
          </div>
        </div>
      </div>
      <div class="ui section divider"></div>
      <div class="ui horizontal medium divided link list">
        <div class="item">
          <img src="assets/images/Tomato-icon.png" class="ui mini image">&nbsp;&nbsp;
        </div>
        <div class="item header">© 2018 Mysupermarket</div>
      </div>
    </div>
  </div>