body {
    background-image: url('/assets/images/supermarket.png');
    background-repeat:no-repeat;
    background-size: cover;
    font-family: 'Gentium Book Basic', Georgia, 'Times New Roman', Times, serif;
}

button {
    margin: 5px;
}

card {
    margin: 10px;
}